.menu {
  &__imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 530px;
    height: auto;
    width: 100%;
  }

  &__img-small {
    width: 60%;

    @include breakpoint-up(largeComputer) {
      width: 100%;
    }
  }

  &__ppaddingnone {
    padding-top: 0;
  }

  &__columngap {
    column-gap: 20px;
  }

  &__ikon {
    width: 50px;
    display: block;
  }
}

.container {
  &__cross {
    width: 50px;
    height: 50px;
  }

  &__crossimg {
    width: 30px;
    height: 30px;
  }
}

div[class^="trykknappanel"] {
  p:first-child {
    font-weight: bold;
  }
}
