.menu {
    &__imgcenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }

    &__ppaddingnone {
        padding-top: 0;
    }

    &__columngap {
        column-gap: 15px;
    }

    &__ikon {
        width: 150px;
        height: 30px;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.varme {
    &__bundtemperatur {
        background-image: url("../../images/bundtemperatur.svg");
    }

    &__madtemperatur {
        background-image: url("../../images/madtemperatur.svg");
    }

    &__opvarmning {
        background-image: url("../../images/opvarmning.svg");
    }
}

.advarsel {
    &__gryderetur {
        background-image: url("../../images/gryderetur.svg");
    }

    &__cross {
        background-image: url("../../images/cross.svg");
    }
}

