.accordion {
  margin: 0 auto;
  max-width: 600px;

  &__elem {
    border-bottom: 1px solid rgba(0, 0, 5, 0.1);
  }
  &__icon {
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    transform: rotate(0);
    transform-origin: center center;
    //border: 1px solid blue;
    //border-radius: 50%;
    background-image: url("../../images/plus.svg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
  }

  &__visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    cursor: pointer;

    &:hover {
      color: #0066cc;

      .accordion__icon {
        background-image: url("../../images/plus-hover.svg");
      }
    }
  }

  &__title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: $font-sm-fallback;
    font-size: $font-sm;
    color: inherit;
  }

  &__panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    * {
      padding: 2rem 0;
    }
  }
}

.show {
  display: block;
  // TODO make a function that calculates the height
}

.rotate {
  transform: rotate(45deg);
  transform-origin: center;
}
path {
  fill: red;
}
.svgPath {
  fill: currentColor;
  fill: yellow;

  path {
    fill: currentColor;
    fill: yellow;
  }
}
