.menu {
  &__imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    height: auto;
    width: 100%;
  }

  &__img-small {
    max-width: 230px;
  }

  &__ppaddingnone {
    padding-top: 0;
  }

  &__columngap {
    column-gap: 3rem;
  }

  &__ikon {
    width: 50px;
    display: block;
  }
}

.container {
  &__cross {
    width: 50px;
    height: 50px;
  }

  &__crossimg {
    width: 30px;
    height: 30px;
  }
}

div[class^="trykknappanel"] {
  p:first-child {
    font-weight: bold;
  }
}
.hover-menu {
  margin-top: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: $clr-background-hover;
  background-image: url("../../images/icons/info.svg");
  background-size: 22px 22px;
  background-position: 10% center;
  background-repeat: no-repeat;

  p {
    padding-left: 16%;

    @include breakpoint-up(ipad) {
      padding-left: unset;
    }
  }
}

p + .menu__columngap {
  margin-top: 6rem;
}

.menu__columngap {
  .row-gap {
    margin-bottom: 3rem;
    &:last-of-type {
      margin-bottom: 6rem;
    }
  }
}
