.header__right > li {
  position: relative;
}

.dropdown__ctn {
  display: none;
  position: absolute;
  z-index: 1;
  text-align: left;
  left: 0px;
  top: 200%;
  background-color: #323432;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  li {
    list-style: none;
    a {
      display: block;
      min-width: 180px;
      padding: 1.2rem 1.6rem;
    }
  }
}

.dropdown__ctn {
  line-height: 2;
}
.dropDown-elem {
  list-style: none;
}
.show {
  display: block;
}
