.footer {
  background-color: $clr-primary-green;
  background-image: url("../../images/footer-bg-repeat.svg");
  color: $clr-background;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include breakpoint-up(ipad) {
    padding-top: 11.5rem;
    padding-bottom: 7.5rem;
  }

  h3 {
    text-transform: uppercase;
    color: $clr-secondary-green;
    font-weight: bold;
    font-size: 28px;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-family: "Roboto Condensed", sans-serif;
  }

  &__wrapper {
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 2rem;

    div {
      min-width: max-content;

      &:last-child {
        min-width: 100%;

        @include breakpoint-up(ipad) {
          min-width: max-content;
        }
      }
    }

    @include breakpoint-up(ipad) {
      flex-direction: row;
      align-items: start;
    }
  }

  &__some {
    h3 {
      text-align: start;
      max-width: 230px;
      font-size: 28px;
      font-size: 2.8rem;

      text-transform: uppercase;
      font-weight: bold;
      color: $clr-background;
      line-height: 1;
    }

    @include breakpoint-up(ipad) {
      align-items: end;
      font-size: 40px;
      font-size: 4rem;

      h3 {
        text-align: end;
      }
    }
  }

  &__kontakt,
  &__links {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    a,
    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  &__icons {
    max-width: max-content;
    column-gap: 2rem;

    @include breakpoint-up(ipad) {
      margin-left: auto;
    }

    a {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      width: 40px;
      height: 40px;

      &:nth-child(1) {
        background-image: url(../../images/instagram-brands.svg);
      }
      &:nth-child(2) {
        background-image: url(../../images/facebook-brands.svg);
      }
      &:nth-child(3) {
        background-image: url(../../images/linkedin-brands.svg);
      }
    }
  }
}
