.footer {
  background-color: $clr-primary-green;
  background-image: url("../../images/footer-bg-repeat.svg");
  color: $clr-background;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include breakpoint-up(ipad) {
    padding-top: 11.5rem;
    padding-bottom: 7.5rem;
  }

  h3 {
    text-transform: uppercase;
    color: $clr-secondary-green;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: "Roboto Condensed", sans-serif;
  }

  &__wrapper {
    flex-wrap: wrap;
    row-gap: 4rem;
    column-gap: 2rem;

    // TODO kig på afstande: flex 1, flex 1, flex 2
    div {
      min-width: max-content;

      &:last-child {
        min-width: 100%;

        @include breakpoint-up(ipad) {
          min-width: max-content;
        }
      }
    }

    @include breakpoint-up(ipad) {
      flex-direction: row;
      align-items: start;

      // TODO BUG flyt link containeren så de 3 elementer er på samme niveau for at lave space between
      // TODO brug flex-wrap wrap også min-width max content på elementerne
    }
  }

  &__some {
    h3 {
      text-align: start;
      max-width: 160px;
      text-transform: uppercase;
      font-weight: bold;
      color: $clr-background;
    }

    @include breakpoint-up(ipad) {
      align-items: end;

      h3 {
        text-align: end;
        margin: unset;
      }
    }
  }

  &__kontakt,
  &__links {
    a,
    p {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  &__icons {
    max-width: max-content;
    column-gap: 2rem;

    a {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center center;
      width: 40px;
      height: 40px;

      &:nth-child(1) {
        background-image: url(../../images/instagram-brands.svg);
      }
      &:nth-child(2) {
        background-image: url(../../images/facebook-brands.svg);
      }
      &:nth-child(3) {
        background-image: url(../../images/linkedin-brands.svg);
      }
    }
  }
}
