/*======================================
*         Generelle regler         *
======================================*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}
/*======================================
*            Typografi            *
======================================*/
a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: $font-p-iphone-fallback;
  font-size: $font-p-iphone;
  line-height: 1.5;

  @include breakpoint-up(ipad) {
    font-size: $font-p-ipad-fallback;
    font-size: $font-p-ipad;
  }

  @include breakpoint-up(computer) {
    font-size: $font-p-computer-fallback;
    font-size: $font-p-computer;
  }
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
}
