.header {
  background-color: $clr-contrast-green;
  position: fixed;
  top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  transition: top 0.3s;
  z-index: 1;

  &__logo {
    display: block;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-image: url("../../images/NORQI-Logo.svg");

    @include breakpoint-up(ipad) {
      width: 60px;
      height: 60px;
    }
  }

  &__toggle {
    height: 24px;

    span,
    > span::before,
    > span::after {
      display: block;
      width: 26px;
      height: 3px;
      background-color: $clr-background;
      transition: all 0.2s ease-in-out;
    }
    span {
      position: relative;
      will-change: opacity;

      &::before,
      &::after {
        content: "";
        position: absolute;
        will-change: transform;
      }
      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }
  }

  &__menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    will-change: height;
    font-weight: bold;

    li {
      a {
        display: inline-block;
        position: relative;
        font-size: $font-p-computer-fallback;
        font-size: $font-p-computer;
        color: $clr-background;
        padding: 2rem;
        width: 100%;
        // TODO er det nødvendigt at man kan trykke på hele rækken?
      }
    }
  }

  &__dropDown a span {
    position: absolute;
    content: " ";
    width: 12px;
    height: 12px;
    background-image: url("../../images/arrowdown.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% 100%;
    transform: translateY(45%);
    margin-left: 1rem;
  }

  &__underMenu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    will-change: height;
    background-color: $clr-contrast-hover;
  }

  &__right {
    color: $clr-background;
    font-size: $font-p-computer-fallback;
    font-size: $font-p-computer;

    li {
      &:not(:first-child) {
        margin-left: 5.5rem;
      }
    }
  }

  // Hamburger Open Styles
  &.open {
    .header__toggle {
      > span {
        background-color: transparent;
      }

      > span::before {
        transform: rotate(45deg);
        top: 0;
      }

      > span::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}
