.hero {
  font-weight: 700;
  color: $clr-background;

  h1 {
    font-size: 50px;
    margin-bottom: 3rem;
    margin-top: 15vh;

    @include breakpoint-up(ipad) {
      font-size: 8rem;
      max-width: 60rem;
      margin-bottom: 4.7rem;
    }
    @include breakpoint-up(computer) {
      font-size: 8rem;
      max-width: 80rem;
    }
  }

  p {
    @include breakpoint-up(ipad) {
      max-width: 60rem;
    }
    @include breakpoint-up(computer) {
      max-width: 80rem;
    }
  }

  &__info {
    height: 85vh;
  }

  &__scroll-indicator {
    height: 15vh;
  }

  &__scroll-animation {
    display: block;
    background-image: url(../../images/scroll-indicator.svg);
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
    animation-name: scrollindicator;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    animation-iteration-count: infinite;

    @include breakpoint-up(ipad) {
      height: 45px;
      width: 45px;
    }
  }

  &__bg {
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/Hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

@keyframes scrollindicator {
  50% {
    transform: translateY(2.5rem);
  }
}
