text{
    pointer-events: none;
}

.hover-menu {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}