.products {
  /*TODO flyt det her til brugsanvisningen
    scroll-snap-align: start;
  */

  row-gap: 3rem;
  h2 {
    text-align: center;
  }

  &__container {
    position: relative;
    column-gap: 8rem;
    row-gap: 6rem;

    @include breakpoint-up(ipad) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 3.2rem;
      padding-right: 3.2rem;
    }

    @include breakpoint-up(computer) {
      padding-left: 6rem;
      padding-right: 6rem;
      column-gap: 15rem;
    }
  }

  &__elem {
    position: relative;
    flex: 1;
    width: 100%;
    h3 {
      font-family: "Quicksand", sans-serif;
    }

    @include breakpoint-up(ipad) {
      &:where(:not(:first-child)) {
        .products__background {
          background-image: none;
        }
      }
    }
  }

  &__background {
    position: absolute;
    left: 0;
    top: 105px;
    z-index: -1;
    background-image: url("../../images/polka-pattern3x7.svg");
    background-size: contain;
    height: 150px;
    width: 50%;

    @include breakpoint-up(ipad) {
      display: none;
    }
  }
  &__image {
    margin: 2.5rem 0 4rem 0;
    max-width: 170px;

    @include breakpoint-up(computer) {
      max-width: 360px;
    }

    // TODO fix padding på container og kig på polka!
    // TODO tilføj polka på selve containeren og ikke element på ipad og op --> virker ikke
    // TODO måske lav en overlay div til containeren også brug position absolute og width 50% på den
  }
}

.product {
  // TODO tilføj position absolute til polka dot :)
  &__elem {
    h2 {
      font-weight: 600;
      margin-bottom: 2.5rem;
      flex: 1;
      text-align: center;
    }
    @include breakpoint-up(ipad) {
      flex-direction: row;
      align-items: center;

      h2 {
        text-align: unset;
      }
    }
  }
  // TODO fix polka :(
  &__elemPolka {
    // TODO: ide: column gap med dobbel så meget afstand som i produkter kunne evt løse skalering
    background-image: url("../../images/polka-pattern3x7.svg");
    background-size: contain;
    max-width: 50%;
    height: auto;
    width: 100%;
    margin-left: auto;
    flex: 1;

    img {
      flex-basis: 150px;
      margin-left: -85px;
      max-width: 150px;
      height: auto;

      @include breakpoint-up(computer) {
        max-width: 360px;
      }
    }
  }
}
