.product {
  /*TODO flyt det her til brugsanvisningen
    scroll-snap-align: start;
  */
  h2 {
    text-align: center;
  }
  row-gap: 2rem;

  &__container {
    row-gap: 6rem;
    overflow: hidden;
    // BUG ipad column gap virker ikke pga polka dot %

    @include breakpoint-up(ipad) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__elem {
    position: relative;
    width: 100%;

    &:nth-child(2) {
      .product__image {
        background-image: url("../../images/produkt-kipstegere.svg");
      }
    }
    &:nth-child(3) {
      .product__image {
        background-image: url("../../images/produkt-kogeborde.svg");
      }
    }

    @include breakpoint-up(ipad) {
      &:where(:not(:first-child)) {
        .product__background {
          background-image: none;
        }
      }
    }
  }

  &__background {
    position: absolute;
    left: 0;
    top: 75px;
    z-index: -1;
    background-image: url("../../images/polka-pattern3x7.svg");
    background-size: contain;
    height: 150px;
    width: 50%;

    @include breakpoint-up(ipad) {
      width: 150%;
    }

    @include breakpoint-up(computer) {
    }
  }
  &__image {
    background-image: url("../../images/produkt-kipgryder.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    width: 150px;
    margin: 2rem 0 4rem 0;

    @include breakpoint-up(ipad) {
      width: 200px;
      height: 200px;
    }
  }
}
