.product {
  /*TODO flyt det her til brugsanvisningen
    scroll-snap-align: start;
  */

  h2 {
    text-align: center;
  }
  row-gap: 2rem;

  &__container {
    column-gap: 5rem;
    row-gap: 6rem;

    @include breakpoint-up(ipad) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__elem {
    position: relative;
    width: 100%;

    @include breakpoint-up(ipad) {
      &:where(:not(:first-child)) {
        .product__background {
          background-image: none;
        }
      }
    }
  }

  &__background {
    position: absolute;
    left: 0;
    top: 105px;
    z-index: -1;
    background-image: url("../../images/polka-pattern3x7.svg");
    background-size: contain;
    height: 150px;
    width: 50%;

    @include breakpoint-up(ipad) {
      width: 150%;
    }

    @include breakpoint-up(computer) {
      height: 300px;
    }
  }
  &__image {
    margin: 2rem 0 4rem 0;
    max-width: 200px;

    @include breakpoint-up(ipad) {
      max-width: 250px;
    }

    @include breakpoint-up(ipad) {
      max-width: 300px;
      // TODO fix padding på container og kig på polka!
    }
  }
}
