.styleguide {
  .overskrift {
    display: flex;
    align-items: center;
  }
  .overskrift_elm {
    margin: 0;
    flex: 1;
  }
  .overskrift-illustration {
    height: 150px;
    background-image: url("../../images/polka-pattern3x7.svg");
    flex: 5;
  }
  .product__elem {
    width: 100%;
  }

  .product__background {
    width: 100%;
  }

  .logo__image {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn_sekund {
    font-family: "Quicksand", Sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 18px;
    color: #5eb91d;
    padding: 1.2rem 2.4rem;
  }

  .boxed {
    background: rgba(219, 230, 236, 0.1);
    border: 1px solid #dee2e6;
    border-radius: 10px;
    font-size: 13px;
    padding: 2rem;
    font-weight: normal;
    display: block;
    min-height: 150px;
  }

  .colorbox {
    border-radius: 25px;
    background: #5eb91d;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 3.2rem;
  }

  .grid__color {
    display: grid;
    justify-content: center;
  }

  .color__text {
    white-space: nowrap;
  }

  .colorbox2 {
    background: hsl(120, 2%, 20);
  }

  .colorbox3 {
    background: hsl(0, 0%, 17%);
  }

  .colorbox4 {
    background: hsl(120, 2%, 33%);
  }

  .colorbox5 {
    background: hsl(60, 3%, 6%);
  }
  .colorbox6 {
    background: hsl(0, 0%, 97%);
    border: solid 1px hsl(60, 3%, 6%);
    
  }

  .typografi_afstand {
    padding-bottom: 3.2rem;
  }
  .boxed_grafik {
    flex: 1;
  }
  &__image {
    background-image: url("../../images/produkt-kipgryder.svg");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 180px;
    background-position: center center;

    @include breakpoint-up(ipad) {
      background-position: initial;
    }
  }

  &__productimage {
    width: 90%;
    height: 100%;
    object-fit: cover;
    display: grid;
    justify-content: center;

    margin: 0 auto;

    @include breakpoint-up(ipad) {
      margin: unset;
    }
  }

  .test__productimage {
    width: 100%;
    height: 200px;
  }

  &__con {
    row-gap: 3rem;
    @include breakpoint-up(ipad) {
      flex-direction: row;
      row-gap: 5rem;

      p {
        flex-basis: 300px;
        flex: 2;
        max-width: 50%;
      }

      .logo__image {
        max-width: 60%;
      }

      .overskrift_elm {
        padding-right: 3.2rem;
      }

      .boxed {
        margin-right: 0;
      }

      @include breakpoint-up(computer) {
        flex-direction: row;

        .logo__image {
          margin-left: auto;
          margin-right: auto;
        }
        .boxed__logo {
          margin-top: 0;
          margin-left: 3.2rem;
          min-height: 100%;
        }

        .h1code .h2code .paragraphcode {
          min-width: 100%;
        }
      }
    }

    @include breakpoint-up(ipad) {
      .grid__color {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: start;
        grid-template-areas:
          "colorbox1 colortext1"
          "colorbox2 colortext2"
          "colorbox3 colortext3"
          "colorbox4 colortext4"
          "colorbox5 colortext5"
          "colorbox6 colortext6";
      }

      .flex-dr-r {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
.row-gapStyleguide {
  display: grid;
  row-gap: 3rem;
  @include breakpoint-up(ipad) {
    row-gap: 5rem;
  }
}
.gridStyleguide {
  display: grid;
  row-gap: 3rem;
  justify-content: center;

  a {
    margin: 0 auto;
    width: max-content;
  }
  @include breakpoint-up(ipad) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    row-gap: 5rem;
    grid-template-areas:
      "header1 h1code"
      "header2 h2code"
      "paragraph paragraphcode";

    a {
      margin: unset;
    }
  }
}
#illustrationer {
  .styleguide__con {
    div:nth-of-type(3) {
      background-image: url("../../images/produkt-kipstegere.svg");
    }
    div:nth-of-type(5) {
      background-image: url("../../images/produkt-kogeborde.svg");
    }
  }
}
