/*======================================
*            Typografi             *
======================================*/

/* Paragraf
    ============================ */
$font-p-iphone-fallback: 16px;
$font-p-iphone: 1.6rem;
$font-p-ipad-fallback: 20px;
$font-p-ipad: 2rem;

/* Overskrift
    ============================ */
$font-h1-iphone-fallback: 40px;
$font-h1-iphone: 4rem;
$font-h1-ipad-fallback: 45px;
$font-h1-ipad: 4.5rem;
$font-h1-computer-fallback: 45px;
$font-h1-computer: 4.5rem;

/* Underoverskrift
    ============================ */
$font-h2-iphone-fallback: 30px;
$font-h2-iphone: 3rem;
$font-h2-computer-fallback: 32px;
$font-h2-computer: 3.2rem;

/* Underunderoverskrift
    ============================ */
$font-h3-iphone-fallback: 22px;
$font-h3-iphone: 2.2rem;
$font-h3-computer-fallback: 26px;
$font-h3-computer: 2.6rem;

/* Undeunderorunderoverskrift
    ============================ */
$font-h4-iphone-fallback: 18px;
$font-h4-iphone: 1.8rem;
$font-h4-computer-fallback: 22px;
$font-h4-computer: 2.2rem;

/*======================================
*             Farver              *
======================================*/
$clr-primary-green: hsl(95, 73%, 42%);
$clr-secondary-green: hsl(95, 68%, 24%);
$clr-contrast-green: hsl(120, 2%, 20%);
$clr-contrast-hover: hsl(0, 0%, 17%);
$clr-active-menu: hsl(120, 2%, 33%);
$clr-background: hsl(0, 0%, 97%);
$clr-background-hover: hsl(0, 0%, 93%);
$clr-text: hsl(60, 3%, 6%);
$clr-divider: hsla(240, 100%, 1%, 0.1);
