// Font
$font-xs-fallback: 16px;
$font-xs: 1.6rem;
$font-sm-fallback: 20px;
$font-sm: 2rem;
$font-med-fallback: 32px;
$font-med: 3.2rem;
$font-l-fallback: 45px;
$font-l: 4.5rem;
$font-xl-fallback: 60px;
$font-xl: 6rem;
