@charset "UTF-8";
/*======================================
*            Typografi             *
======================================*/
/* Paragraf
    ============================ */
/* Overskrift
    ============================ */
/* Underoverskrift
    ============================ */
/* Underunderoverskrift
    ============================ */
/*======================================
*             Farver              *
======================================*/
/*======================================
*         Generelle regler         *
======================================*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #f7f7f7;
}

/*======================================
*            Typografi            *
======================================*/
/* Links
    ============================ */
a {
  color: inherit;
  text-decoration: none;
}

/* Paragraf
    ============================ */
p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

@media (min-width: 40em) {
  p {
    font-size: 20px;
    font-size: 2rem;
  }
}

/* Overskrift
    ============================ */
h1,
h2,
h3,
a[class^="btn"],
.header__menu {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 30px;
}

@media (min-width: 40em) {
  h1 {
    font-size: 45px;
    font-size: 4.5rem;
  }
}

@media (min-width: 64em) {
  h1 {
    font-size: 45px;
    font-size: 4.5rem;
  }
}

/* Underoverskrift
    ============================ */
h2 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 30px;
}

@media (min-width: 64em) {
  h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }
}

/* Underunderoverskrift
    ============================ */
h3 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 20px;
}

@media (min-width: 64em) {
  h3 {
    font-size: 26px;
    font-size: 2.6rem;
  }
}

/*======================================
*            Knapper            *
======================================*/
.btn-primary {
  background-color: #5eb91d;
  color: #f7f7f7;
  padding: 1.2rem 2.4rem;
  outline: transparent;
  box-shadow: none;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase;
}

/*======================================
*            Afstande            *
======================================*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  /* Padding på x- og y-aksen
    ============================ */
  /* Padding på y-aksen
    ============================ */
  /* Padding på x-aksen
    ============================ */
}

.container--pall {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

@media (min-width: 40em) {
  .container--pall {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

@media (min-width: 64em) {
  .container--pall {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.container--py {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 40em) {
  .container--py {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.container--px {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

@media (min-width: 40em) {
  .container--px {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

@media (min-width: 64em) {
  .container--px {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/*======================================
*            Flexbox            *
======================================*/
.flex {
  display: flex;
}

.flex-dr-cl {
  flex-direction: column;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-ai-st {
  align-items: flex-start;
}

/*======================================
*            Synlighed            *
======================================*/
@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  background-color: #323432;
  position: fixed;
  top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  transition: top 0.3s;
  z-index: 1;
}

.header__logo {
  display: block;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-image: url("../../images/NORQI-Logo.svg");
}

@media (min-width: 40em) {
  .header__logo {
    width: 60px;
    height: 60px;
  }
}

.header__toggle {
  height: 24px;
}

.header__toggle span,
.header__toggle > span::before,
.header__toggle > span::after {
  display: block;
  width: 26px;
  height: 3px;
  background-color: #f7f7f7;
  transition: all 0.2s ease-in-out;
}

.header__toggle span {
  position: relative;
  will-change: opacity;
}

.header__toggle span::before, .header__toggle span::after {
  content: "";
  position: absolute;
  will-change: transform;
}

.header__toggle span::before {
  top: -8px;
}

.header__toggle span::after {
  top: 8px;
}

.header__menu {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  will-change: height;
  font-weight: bold;
}

.header__menu li a {
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-size: 2rem;
  color: #f7f7f7;
  padding: 2rem;
  width: 100%;
}

.header__dropDown a span {
  position: absolute;
  content: " ";
  width: 12px;
  height: 12px;
  background-image: url("../../images/arrowdown.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100% 100%;
  transform: translateY(45%);
  margin-left: 1rem;
}

.header__underMenu {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  will-change: height;
  background-color: #2b2b2b;
}

.header__right {
  color: #f7f7f7;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.header__right li:not(:first-child) {
  margin-left: 5.5rem;
}

.header.open .header__toggle > span {
  background-color: transparent;
}

.header.open .header__toggle > span::before {
  transform: rotate(45deg);
  top: 0;
}

.header.open .header__toggle > span::after {
  transform: rotate(-45deg);
  top: 0;
}

.product {
  row-gap: 2rem;
}

.product__container {
  row-gap: 3rem;
}

.product__elem {
  position: relative;
}

.product__background {
  min-width: 230px;
  background-image: url("../../images/polka-pattern3x7.svg");
  background-repeat: repeat-x;
  background-size: contain;
  width: 60%;
  height: 100px;
}

.product__image {
  top: 0%;
  /*left: 50%;
    transform: translate(-50%, -50%);*/
  position: absolute;
  background-image: url("../../images/produkt-kipgryder.svg");
  height: 100px;
  width: 100px;
}

.styleguide .overskrift {
  display: flex;
  align-items: center;
}

.styleguide .overskrift_elm {
  margin: 0;
  padding-right: 2.4rem;
}

.styleguide .product__elem {
  width: 100%;
}

.styleguide .product__background {
  width: 100%;
}

.styleguide .logo__image {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.styleguide .boxed {
  background: rgba(219, 230, 236, 0.1);
  border: 1px solid #DEE2E6;
  border-radius: 10px;
  font-size: 13px;
  font-size: 0.92857rem;
  font-weight: normal;
  padding: 1em 1em;
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  min-height: 150px;
}

.styleguide__logo {
  row-gap: 5rem;
}

@media (min-width: 40em) {
  .styleguide__logo {
    flex-direction: row;
  }
  .styleguide__logo p {
    flex-basis: 300px;
    flex: 2;
    max-width: 42%;
  }
  .styleguide__logo .styleguide__subcon {
    flex: 1;
    max-width: 42%;
  }
  .styleguide__logo .logo__image {
    max-width: 60%;
  }
  .styleguide__logo .overskrift_elm {
    padding-right: 3.2rem;
  }
}

@media (min-width: 64em) {
  .styleguide__logo {
    flex-direction: row;
  }
  .styleguide__logo .styleguide__subcon {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
  }
  .styleguide__logo .logo__image {
    margin-left: auto;
    margin-right: auto;
  }
  .styleguide__logo .boxed {
    margin-top: 0;
    margin-left: 3.2rem;
    min-height: 100%;
  }
}

@media (min-width: 40em) {
  .styleguide .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    grid-template-areas: "header1 h1code" "header2 h2code" "paragraph paragraphcode";
  }
  .styleguide .flex-dr-r {
    display: flex;
    flex-direction: row;
  }
  .styleguide .boxed {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */