.styleguide {

    .overskrift{
        display: flex;
        align-items: center;
        
    }
    .overskrift_elm {
        margin: 0;
        padding-right: 2.4rem;
    }

    .product__elem {
        width: 100%;

    }

    .product__background{
        width: 100%;
        

    }
    
    .logo__image {
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    
    .boxed {
        background: rgba(219,230,236,0.1);
        border: 1px solid #DEE2E6;
        border-radius: 10px;
        font-size: 13px;
        padding: 2rem;
        font-weight: normal;    
        display: block;
        min-height: 150px;
        margin: 2rem auto 0 auto;

    }

    .colorbox {
        border-radius: 25px;
        background: #73AD21;
        border-radius: 50%;
        width: 150px;
        height: 150px; 
        margin-bottom: 3.2rem;
    }

    .grid__color{
        display: grid;
        justify-content: center;
    }

    .colorbox2{
        background:#292928;

    }

    .colorbox3{
        background:#313331;
    }

    .colorbox4{
        background:#737373;
    }

    .colorbox5{
        background:#ECECEC;
    }
    .colorbox6{
        background:#F7F7F7;
        border:solid #313331 1px;
    }
  
    
   &__image{
       background-image: url("../../images/produkt-kipgryder.svg");
       background-repeat: no-repeat;
       max-width:100%;
       height:auto;
       margin-top: 1.25rem;
   }

    &__logo {
        row-gap: 5rem;
        @include breakpoint-up(ipad){
            flex-direction: row;

            p {
                flex-basis: 300px;
                flex:2;
                max-width: 42%;
            
            }

            .styleguide__subcon {
                flex:1;
                max-width: 42%;
            }
            
            .logo__image {
                max-width: 60%;
                 
            }

            .overskrift_elm {

                padding-right: 3.2rem;
            }
            
            .boxed{
                margin-right: 0;
                
            }
    @include breakpoint-up(computer){
        flex-direction: row;

        .styleguide__subcon {
            display: flex;
            flex-wrap: nowrap;
            align-items: start;
        }

        .logo__image {
            margin-left: auto;
            margin-right: auto;
             
        }
        .boxed__logo {
            margin-top: 0;
            margin-left: 3.2rem;
            min-height: 100%;
          
        }

        .h1code .h2code .paragraphcode {
            min-width: 100%;
        }
    




        }
    }

   @include breakpoint-up(ipad) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: start;
        grid-template-areas: 
        "header1 h1code"
        "header2 h2code"
        "paragraph paragraphcode";
    }

    .grid__color {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: start;
        grid-template-areas: 
        "colorbox1 colortext1"
        "colorbox2 colortext2"
        "colorbox3 colortext3"
        "colorbox4 colortext4"
        "colorbox5 colortext5"
        "colorbox6 colortext6";
    }



    .flex-dr-r {
        display: flex;
        flex-direction: row;
    }

    .boxed {
        margin-bottom: 5rem;
    }
    } 

   
}

}
