.styleguide {

    .overskrift{
        display: flex;
        align-items: center;
        
    }
    .overskrift_elm {
        margin: 0;
        padding-right: 2.4rem;
    }

    .product__elem {
        width: 100%;

    }

    .product__background{
        width: 100%;

    }
    
    .logo__image {
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .boxed {
        background: rgba(219,230,236,0.1);
        border: 1px solid #DEE2E6;
        border-radius: 10px;
        font-size: 13px;
        font-size: 0.92857rem;
        font-weight: normal;
        padding: 1em 1em;
        display: block;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        min-height: 150px;

    }
    

    &__logo {
        row-gap: 5rem;
        @include breakpoint-up(ipad){
            flex-direction: row;

            p {
                flex-basis: 300px;
                flex:2;
                max-width: 42%;
            
            }

            .styleguide__subcon {
                flex:1;
                max-width: 42%;
            }
            
            .logo__image {
                max-width: 60%;
                 
            }

            .overskrift_elm {

                padding-right: 3.2rem;
            }
    }
    @include breakpoint-up(computer){
        flex-direction: row;

        .styleguide__subcon {
            display: flex;
            flex-wrap: nowrap;
            align-items: start;
        }

        .logo__image {
            margin-left: auto;
            margin-right: auto;
             
        }
        .boxed {
            margin-top: 0;
            margin-left: 3.2rem;
            min-height: 100%;
          
        }




    }
}



}